<div class="mt-4">
    <h3>Dang Ky Khoa Hoc</h3>
    <form method="POST" action="/courses/store">
    <div class="form-group">
        <label for="name">Ten Khoa Hoc</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="desc">Mo Ta</label>
        <input type="text" class="form-control" id="desc" name="desc">
    </div>
    <div class="form-group">
        <label for="videoID">Video ID</label>
        <input type="text" class="form-control" id="videoID" name="videoID">
    </div>
    <div class="form-group">
        <label for="level">Tien Do</label>
        <input type="text" class="form-control" id="level" name="level">
    </div>
  
    <button type="submit" class="btn btn-primary">Them Khoa Hoc</button>
    </form>
</div>